<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>上传文件测试</title>

  <!-- Vue 3 CDN -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- Axios CDN -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- tailwindcss CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div id="app">
    <h2>文件上传</h2>
    <input type="file" @change="onFileChange" />
    <button @click="upload">上传</button>
    <h2 v-if="fileList.length != 0">已上传文件列表</h2>
    <ul>
      <li v-for="filename in fileList" @click="previewFile(filename)"
        class="text-blue-600 cursor-pointer hover:underline"> {{ filename }}</li>
    </ul>

    <div v-if="previewContent.length > 0">
      <div class="flex justify-center items-center mt-6 mb-4">
        <h3 class="text-lg font-semibold">文件预览：</h3>
        <button class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">清洗数据</button>
      </div>
      <div class="overflow-x-auto rounded-lg shadow"></div>
      <table class="min-w-full bg-white">
        <tbody>
          <tr v-for="(row, rowIndex) in previewContent" :key="rowIndex" class="hover:bg-gray-50">
            <td v-for="(cell, cellIndex) in row" :key="cellIndex"
              class="px-4 py-2 whitespace-nowrap border border-gray-200 text-center">
              {{ cell }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <script>
    const { createApp } = Vue;
    const app = createApp({
      data() {
        return {
          selectedFile: null,
          message: "",
          fileList: [],
          previewContent: []
        };
      },
      methods: {
        onFileChange(event) {
          this.selectedFile = event.target.files[0];
        },
        async upload() {
          if (!this.selectedFile) {
            alert("请先选择一个文件!");
            return;
          }

          const formData = new FormData()
          formData.append("file", this.selectedFile);

          try {
            const response = await axios.post("http://localhost:8000/file/upload", formData, {
              headers: {
                "Content-Type": "multipart/form-data"
              }
            });

            this.message = `上传成功`;
            await listFiles();
          } catch (error) {
            this.message = `上传失败`;
          }
        },
        async listFiles() {
          try {
            const response = await axios.get("http://localhost:8000/files");
            this.fileList = response.data.filenames;
          } catch (error) {
            console.log(error);
          }
        },
        async previewFile(filename) {
          try {
            const response = await axios.get("http://localhost:8000/file/preview", {
              params: { filename }
            })
            this.previewContent = response.data.content;
          } catch (error) {
            alert("预览失败: " + error.response?.data?.detail || error.message);
          }
        }
      },
      mounted() {
        this.listFiles();
      }
    });
    app.mount("#app");
  </script>
</body>

</html>